APScheduler==3.6.3
apsw==3.28.0.post1
apturl==0.5.2
autopep8==1.5.4
beautifulsoup4==4.8.2
blinker==1.4
catfish==1.4.13
certifi==2019.11.28
chardet==3.0.4
cliapp==1.20180812.1
Click==7.0
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cryptography==3.3.2
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
entrypoints==0.3
evdev==1.3.0
feedparser==5.2.1
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.19.0
idna==2.8
ifaddr==0.1.6
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lutris==0.5.6
lxml==4.6.3
Markdown==3.1.1
mechanize==0.4.5
menulibre==2.2.1
msgpack==0.6.2
mugshot==0.4.2
netifaces==0.10.4
nose==1.3.7
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
packaging==20.3
pexpect==4.6.0
Pillow==8.1.1
psutil==5.6.6
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.6.0
pycups==1.9.73
Pygments==2.7.4
PyGObject==3.36.0
PyJWT==1.7.1
pyparsing==2.4.6
PyQt5==5.14.1
PyQtWebEngine==5.14.0
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-telegram-bot==13.1
pytz==2020.4
PyYAML==5.4
regex==2019.8.19
reportlab==3.5.34
repoze.lru==0.7
requests==2.22.0
requests-unixsocket==0.2.0
Routes==2.4.1
ruamel.std.argparse==0.8.3
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
ruamel.yaml.cmd==0.5.5
ruamel.yaml.convert==0.3.2
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
setproctitle==1.1.10
sgt-launcher==0.2.5
simplejson==3.16.0
sip==4.19.21
six==1.14.0
soupsieve==1.9.5
ssh-import-id==5.10
systemd-python==234
toml==0.10.2
tornado==6.1
ttystatus==0.38
tzlocal==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
webencodings==0.5.1
WebOb==1.8.5
xcffib==0.8.1
xkit==0.0.0
zeroconf==0.24.4
